@model AlphaFacev2.Models.Profile

@inject AlphaFacev2.Services.AccountServices  accountServices

@{
    var user = accountServices.GetCurrentUser();
}

@{
    ViewData["Title"] = "Details";
}

<div class="w3-padding-16"></div>

<div class="w3-content w3-container w3-padding-16" id="home">
    <h3 class="w3-center">Hello @user.FirstName!</h3>
    <p class="w3-center"><em>Are you sure you want to delete your profile? This action cannot be undone!</em></p>
</div>

<div class="w3-padding-16 w3-center">
    <div class="w3-row">
        <div class="w3-half w3-black w3-container w3-center" style="height:500px">
            <div class="w3-padding-16">
                <h1>Profile picture</h1>
            </div>
            <div class="w3-padding-16">
                @{
                byte[] byteArray = new byte[1];
                if (user.ProfileImage == null)
                {
                byteArray[0] = 0;
                }
                else
                {
                byteArray = user.ProfileImage;
                }
                var base64 = Convert.ToBase64String(byteArray);
                var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                }

                @if (user.ProfileImage != null)
                {
                <img src="@imgSrc" style="height:320px;" alt="Profile picture">
                }
                else
                {
                <img src="~/images/no-profile-pic.jpg" style="height:320px;" alt="Profile picture">
                }
            </div>
        </div>

        <div class="w3-half w3-dark-grey w3-container" style="height:500px">
            <div class="w3-padding-16">
                <h1>Personal information</h1>
            </div>
            <div class="w3-padding-16">
                <table class="w3-table">
                    <tbody>
                        <tr>
                            <td style="min-width:200px"><i class="fa fa-fw w3-hover-text-black w3-xlarge w3-margin-left"></i>First Name</td>
                            <td style="min-width:200px"><i class="fa fa-fw w3-hover-text-black w3-xlarge w3-margin-left"></i>@user.FirstName</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-fw w3-hover-text-black w3-xlarge w3-margin-left"></i>Last Name</td>
                            <td><i class="fa fa-fw w3-hover-text-black w3-xlarge w3-margin-left"></i>@user.LastName</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-fw w3-hover-text-black w3-xlarge w3-margin-left"></i>Birthday</td>
                            <td><i class="fa fa-fw w3-hover-text-black w3-xlarge w3-margin-left"></i>@user.DateOfBirth</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-fw w3-hover-text-black w3-xlarge w3-margin-left"></i>Email</td>
                            <td><i class="fa fa-fw w3-hover-text-black w3-xlarge w3-margin-left"></i>@user.Email</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:center">
                                <a class="w3-margin-left w3-padding-large w3-blue-grey w3-medium w3-letter-spacing-small w3-animate-opacity w3-opacity-min w3-hover-opacity-off w3-btn" asp-action="Details" asp-route-id="@Model.Id">Cancel</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <form method="post" asp-controller="Profiles" asp-action="Delete" style="text-align:left;">
        <input type="submit" class="w3-centered w3-red w3-large w3-letter-spacing-small w3-animate-opacity w3-opacity-min w3-hover-opacity-off w3-btn" value="Click here to delete your profile" style="width:100%; height:80px; font-size:larger;">
    </form>
    <p></p>
    <a asp-controller="Profiles" asp-action="Login" class="w3-centered w3-black w3-large w3-letter-spacing-small w3-animate-opacity w3-opacity-min w3-hover-opacity-off w3-btn" style="font-size: larger;">Back to profile</a>
</div>
