@model AlphaFacev2.Models.Profile

@{
    ViewData["Title"] = "Details";
}

@*<h1>Details</h1>*@

    <div>
        <h4>@Model.FirstName's Profile</h4>
        <hr />
        <form id="profile-form" method="post">
            <div style="border:solid;border-color:dodgerblue;border-radius:10px; text-align:center">
                <a class="nav-link text-dark" asp-area="" asp-controller="Faces" asp-action="Face">Upload your piture for AFace authentication</a>
            </div>
        </form>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IpAdress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IpAdress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProfileImage)
            </dt>
            @*<dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProfileImage)
            </dd>*@
            <dd class="col-sm-10">
                @{
                    var base64 = Convert.ToBase64String(Model.ProfileImage);
                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                }
                <img src="@imgSrc" alt="Profile Picture" height="100" />
            </dd>
        </dl>
    </div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
