@model IEnumerable<AlphaFacev2.Models.Profile>

@inject AlphaFacev2.Services.AccountServices  accountServices

@{
    ViewData["Title"] = "Index";
}

<div class="w3-padding-16"></div>

<div class="w3-content w3-container w3-padding-16" id="home">
    <h3 class="w3-center">Our community</h3>
    <p class="w3-center"><em>Go to <a asp-controller="Profiles" asp-action="Register">Register</a> to join us</em></p><br>

    <!-- Responsive Grid. Three columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
    <div class="w3-row-padding w3-center">

        @foreach (var item in Model)
        {

            byte[] byteArray = new byte[1];
            if (item.ProfileImage == null)
            {
                byteArray[0] = 0;
            }
            else
            {
                byteArray = item.ProfileImage;
            }
            var base64 = Convert.ToBase64String(byteArray);
            var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);

            var user = accountServices.GetCurrentUser();

            <div class="w3-col l4 w3-panel">
                <div class="w3-card w3-white">
                    <div class="w3-container" style="height:400px;">
                        <h4 class="w3-center">@Html.DisplayFor(modelItem => item.FirstName)'s Profile</h4>
                        @if (item.ProfileImage != null)
                        {
                            <p class="w3-center "><img src="@imgSrc" class="w3-round-large" style="height:120px;" alt="Profile picture"></p>
                        }
                        else
                        {
                            <p class="w3-center"><img src="~/images/no-profile-pic.jpg" class="w3-round-large" style="height:120px" alt="Profile picture"></p>
                        }
                        <hr>
                        <p><i class="fa fa-user fa-fw w3-text-theme"></i> @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</p>
                        <p><i class="fa fa-birthday-cake fa-fw w3-text-theme"></i>@{string dob = user.DateOfBirth.Value.ToShortDateString();} @dob</p>
                        <p><i class="fa fa-envelope fa-fw w3-text-theme"></i> @Html.DisplayFor(modelItem => item.Email)</p>
                        <p>
                            @if (user.UserName == item.UserName)
                            {
                                <i class="fa fa-search fa-fw w3-text-theme"></i>
                                <a asp-action="Details" asp-route-id="@item.Id"> Details</a>
                            }
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
